.info-deck {
  position: absolute;
  width: 230px;
  height: 28px;
  left: 289px;
  top: 481px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

}


.project-title-prompt {
  position: absolute;
  width: 645px;
  height: 25px;
  left: 324px;
  top: 535px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.project-title-field {
  position: absolute;
  width: 830px;
  height: 50px;
  left: 323px;
  top: 600px;

  /*background: #FFFFFF;*/
  /*border: 1px solid #000000;*/
  /*box-sizing: border-box;*/
  /*border-radius: 8px;*/
}

.start-date-prompt {
  position: absolute;
  width: 645px;
  height: 25px;
  left: 324px;
  top: 672px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;

}

.start-date-field {

  position: absolute;
  width: 374px;
  height: 50px;
  left: 323px;
  top: 730px;
}

.end-date-prompt {
  position: absolute;
  width: 373px;
  height: 25px;
  left: 780px;
  top: 672px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.end-date-field {
  position: absolute;
  width: 374px;
  height: 50px;
  left: 779px;
  top: 730px;
}

.project-category-prompt {
  position: absolute;
  width: 645px;
  height: 25px;
  left: 323px;
  top: 805px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.project-category-field {
  position: absolute;
  width: 375px;
  height: 50px;
  left: 322px;
  top: 870px;
}

.description-prompt {
  position: absolute;
  width: 645px;
  height: 25px;
  left: 323px;
  top: 950px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.description-field {
  position: absolute;
  width: 830px;
  height: 102px;
  left: 323px;
  top: 1020px;
}

.change-background {
  position: absolute;
  width: 277px;
  height: 60px;
  left: 25px;
  top: 378px;
}

.add-role {
  position: absolute;
  width: 230px;
  height: 28px;
  left: 287px;
  top: 1550px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.cancel {
  position: absolute;
  width: 261px;
  height: 60px;
  left: -50px;
  top: 1680px;
}

.submit {
  position: absolute;
  width: 261px;
  height: 60px;
  left: 700px;
  top: 1680px;
}

.blank-bottom {
  position: relative;
  width: 261px;
  height: 60px;
  left: 742px;
  top: 100px;
}

.cancel-button {
  position: absolute;
  width: 261px;
  height: 60px;
  left: 436px;
}

.submit-button{
  position: absolute;
  width: 261px;
  height: 60px;
  left: 100px;
}
